build
.gradle
config
*.iml
*.ipr
*.iws
.project
.settings
.classpath
*.crc
mainGenerated*
.idea
out

*/build
*/.gradle
*/config
*/*.iml
*/*.ipr
*/*.iws
*/.project
*/.settings
*/.classpath
*/mainGenerated*
*/.idea
*/out

*.*~
.DS_Store
*/.DS_Store
